body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  margin: auto;
}

.jumbotron {
  background-color: rgb(15, 20, 82);
  color: whitesmoke;
  margin: 0px 10px 50px;
  font: 4rem bold;
  text-align: center;
}

.btn {
  background-color: rgb(15, 20, 82);
  color: whitesmoke;
}

form {
  border: solid rgb(63, 53, 53) 1px;
  border-radius: 5px;
  border-width: 100%;
  padding: 15px;
}

.list-group-item {
  background-color: rgb(184, 184, 197);
  color: rgb(29, 28, 28);
  margin: 15px -20px -20px;
}