body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
  /* Set "my-sec-counter" to 0 */
  counter-reset: my-sec-counter;
}

.container {
  margin: auto;
}

.jumbotron {
  background-color: rgb(15, 20, 82);
  color: whitesmoke;
  margin: 0px 10px 50px;
  font: 4rem bold;
  text-align: center;
}

.btn {
  background-color: rgb(15, 20, 82);
  color: whitesmoke;
}

form {
  border: solid rgb(63, 53, 53) 1px;
  border-radius: 5px;
  border-width: 100%;
  padding: 15px;
}

.list-group-item {
  background-color: rgb(184, 184, 197);
  color: rgb(29, 28, 28);
  margin: 15px -20px -20px;
}

h4:before {
  background-color: rgb(15, 20, 82);
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  font-size: 15px;

  /* Increment "my-sec-counter" by 1 */
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter);
}

